# Visual Studio
.vs/
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates
*.pdb
*.ilk
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.o
*.obj
*.exe
*.dll
Debug/
Release/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
